@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container mt-4">
        <h1 class="text-center mb-4">Metas</h1>
        <div class="row">
            <!-- Div de izquierda metas -->
            <div class="col-4 custom-card">
                <button class="btn btn-primary mb-3" id="btnNvaMeta">
                    <i class="bi bi-plus"></i> Nueva Meta
                </button>
                <table id="metasTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre de la Meta</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- Div de derecha tareas -->
            <div class="col-8 custom-card">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3>Tareas</h3>
                    <button class="btn btn-primary mb-3" id="btnNvaTarea">
                        <i class="bi bi-plus"></i> Nueva Tarea
                    </button>
                </div>
                <table id="tblTareas" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre de la Tarea</th>
                            <th>Fecha Creada</th>
                            <th>Estatus</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<!-- Modal Nueva Meta -->
<div id="mdlMeta" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nueva Meta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="metaForm">
                    <div class="form-group">
                        <label for="txtMetaNombre">Nombre de la Meta</label>
                        <input type="text" class="form-control" id="txtMetaNombre" placeholder="Ingrese el nombre de la meta" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnRegistraMeta">Registrar Meta</button>
                <button type="button" class="btn btn-info" id="btnEditaMeta">Actualizar Meta</button>
                <button type="button" class="btn btn-danger" id="btnEliminaMeta">Eliminar Meta</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Nueva Tarea -->
<div id="mdlTarea" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nueva Tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="taskForm">
                    <div class="form-group">
                        <label for="txtTareaNombre">Nombre de la Tarea</label>
                        <input type="text" class="form-control" id="txtTareaNombre" placeholder="Ingrese el nombre de la tarea" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="selectMeta">Seleccionar Meta</label>
                        <select class="form-control" id="selectMeta" required>
                            <option value="0">Seleccione una meta</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnRegistraTarea">Registrar Tarea</button>
                <button type="button" class="btn btn-info" id="btnEditaTarea">Actualizar Tarea</button>
                <button type="button" class="btn btn-danger" id="btnEliminaTarea">Eliminar Tarea</button>
            </div>
        </div>
    </div>
</div>


